

/*For Desktop*/
/*Body styling*/
body{
	background: #000000;
}

/*Header styling*/
header{
	color: #ffffff;
	font-family: 'Brush Script MT', cursive;
	font-size: 75px;
	text-align: center;
}

/*Section styling*/
section{
	color: #ffffff;
	font-family: 'Freestyle Script', sans-serif;
	font-size: 35px;
	text-align: center;
}

/*Footer styling*/
footer{
	color: #ffffff;
	font-family: 'Freestyle Script', sans-serif;
	font-size: 35px;
}

a {
	background-color: #ffffff;
	color: black;
	font-size: 35px;
	display: inline-block;
	text-decoration: none;
}	

/*Image styling*/
img{
	/*display: block;
	margin-left: auto;
	margin-right: auto;*/
	object-fit: contain;
	max-width: 100%
	
}

/*Navbar styling*/
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.stacknav {
	overflow: hidden;
	background-color: white;
}

/*Navbar link styling*/
.stacknav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Freestyle Script', sans-serif;
}

/*Navbar styling on hover*/
.stacknav a:hover {
	background-color: #757575;
	color: black;
}

input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
	
input[type=email], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
	
input[type=submit] {
	width: 100%;
	background-color: white;
	color: black;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/*For mobile*/
/*Media Querry*/
@media screen and (max-width: 480px){
	body{
		background: #000000;
	}

	/*Header styling*/
	header{
		color: #ffffff;
		font-family: 'Brush Script MT', cursive;
		font-size: 30px;
		text-align: center;
	}

	/*Section styling*/
	section{
		color: #ffffff;
		font-family: 'Freestyle Script', sans-serif;
		font-size: 25px;
		text-align: center;
	}

	/*Footer styling*/
	footer{
		color: #ffffff;
		font-family: 'Freestyle Script', sans-serif;
		font-size: 25px;
	}

	a {
		background-color: #ffffff;
		color: black;
		font-size: 25px;
		display: inline-block
	}	

	.stacknav a{
		float: none;
		width: 100%;
	}

}