

/*For Desktop*/
/*Body styling*/
body{
	background: #000000;
}

/*Header styling*/
header{
	color: #ffffff;
	font-family: 'Brush Script MT', cursive;
	font-size: 75px;
	text-align: center;
}

/*Section styling*/
section{
	color: #ffffff;
	font-family: 'Freestyle Script', sans-serif;
	font-size: 35px;
	text-align: center;
}

/*Footer styling*/
footer{
	color: #ffffff;
	font-family: 'Freestyle Script', sans-serif;
	font-size: 35px;
}

a {
	background-color: #ffffff;
	color: black;
	font-size: 35px;
	display: inline-block
}	

/*Image styling*/
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*Navbar styling*/
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 150px;
	background-color: #ffffff;
	font-family: 'Freestyle Script', sans-serif;
}

li a{
	display: block;
	color: #000;
	padding: 8px 16px;
}

/*Navbar styling on hover*/
li a:hover {
	background-color: #757575;
}

/*For mobile*/
/*Media Querry*/
@media screen and (max-width: 1050px){
	body{
		background: #000000;
	}

	/*Header styling*/
	header{
		color: #ffffff;
		font-family: 'Brush Script MT', cursive;
		font-size: 25px;
		text-align: center;
	}

	/*Section styling*/
	section{
		color: #ffffff;
		font-family: 'Freestyle Script', sans-serif;
		font-size: 20px;
		text-align: center;
	}

	/*Footer styling*/
	footer{
		color: #ffffff;
		font-family: 'Freestyle Script', sans-serif;
		font-size: 35px;
	}

	a {
		background-color: #ffffff;
		color: black;
		font-size: 35px;
		display: inline-block
	}	

	/*Image styling*/
	img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	/*Navbar styling*/
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 150px;
		background-color: #ffffff;
		font-family: 'Freestyle Script', sans-serif;
	}

	li a{
		display: block;
		color: #000;
		padding: 8px 16px;
	}

	/*Navbar styling on hover*/
	li a:hover {
		background-color: #757575;
	}
}